<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="software.pipas.oprecox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.OPrecoX"
        android:allowBackup="true"
        android:configChanges="keyboardHidden"
        android:icon="@mipmap/oprecox"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/oprecox"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.singlePlayer.GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Guesser" />
        <activity
            android:name=".activities.singlePlayer.Lobby"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.singlePlayer.GameOver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.imageViewer.ImageViewer"
            android:screenOrientation="portrait"
            android:theme="@style/ImageViewer" />
        <activity
            android:name=".activities.other.NGuessesChooser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.menus.MainMenu"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"></activity>
        <activity
            android:name=".activities.menus.SettingsIntent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.multiPlayer.Hub"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.other.BlockedApp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.multiPlayer.LobbyHost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.multiPlayer.Invite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.multiPlayer.Options"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.menus.MyAds"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.other.CategoryChooser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.other.CategoryDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.other.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".modules.network.AnnouncerSenderService" />
        <service android:name=".modules.network.UDPCommsService" />
        <service android:name=".modules.network.RoomService" />
        <service android:name=".modules.network.ClientService"/>

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.multiPlayer.LobbyClient"></activity>
    </application>

</manifest>